<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
    <h1>用户登录</h1>

    <form action="{{ url_for('user.login') }}" method="post">
        <p><input type="text" name="username" placeholder="用户名"></p>
        <p><input type="password" id="password" name="password" placeholder="密码"></p>
        <p><input type="text" name="phone" placeholder="输入手机号"></p>
        <p><input type="submit" value="登录"></p>
    </form>

    <button type="button" id="shbtn">显示密码</button>
    <div style="color: red">{{ errorinfo }}</div>
</body>
<script>
    $('#shbtn').click(function () {
        const $passwordInput = $('#password');
        const isPassword = $passwordInput.attr('type') === 'password';

        // 切换 input 的 type
        $passwordInput.attr('type', isPassword ? 'text' : 'password');

        // 切换按钮文字
        $(this).text(isPassword ? '隐藏密码' : '显示密码');
    });
</script>
</html>